torch==1.5.0
tensorpack==0.10.1
setproctitle==1.1.10
opencv_python==4.1.2.30
onnx_simplifier==0.2.21
scipy==1.4.1
timm==0.1.30
pycocotools==2.0.1
torchvision==0.6.0
pandas==1.0.3
onnxruntime==1.6.0
easydict==1.9
tqdm==4.46.0
matplotlib==3.2.1
torchcontrib==0.0.2
coremltools==4.0
onnx==1.7.0
albumentations==0.4.5
numpy==1.18.4
apex==0.9.10dev
MNN==1.1.2
Pillow==8.1.0
scikit_learn==0.24.0
seaborn==0.11.1
tensorflow==2.4.0
